.key {
    background-color: beige;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
}

.key:hover {
    cursor: pointer;
    background-color: #dededa;
}

@media all and (min-width: 630px) {

    .key {
        width: 80px;
        height: 270px;
        /* margin: 0 4px; */
    }

    .key-active {
        height: 265px;
    }

    .key:after {
        bottom: -270px;
        left: 30px;
    }

    .key-active:after {
        left: 20px;
        bottom: -260px; 
    }
}

@media all and (max-width: 629px) {

    .key {
        width: 44px;
        height: 160px;
        /* margin: 0 3px; */
    }

    .key-active {
        height: 155px;
    }

    .key:after {
        left: 20px;
        top: 160px;
    }

    .key-active:after {
        left: 5px;
        top: 150px; 
    }

}

.key:after {
    content: attr(data-letter);
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: #06c0c0;
}

.key.note:after {
    content: attr(data-note);
}

.key:hover:after {
    color: #39e6e6;
}